.bgc-orange-new{
    background-color:#F7C5A3 !important;
}

.tc-white-smoke{
    color: whitesmoke!important;
}
.text-shadow{
    text-shadow: -1px 0 black, 0 1px black,
    1px 0 black, 0 -1px black;
}

.text-large{
    font-size: 24px !important;

}
.text-on-atomic{
    color: #3B3B3B !important;
}
.text-small{
    font-size: 12px !important;
}
h1{
    font-size: 30px !important;
}
.citation{
    font-size: 20px !important;
}
.italic{
    font-style: italic !important;
}
.bold{
    font-weight: bold !important;
}

.text-contact{
    color: #333333 !important;
}

.nav-item:hover,
.nav-item:focus{
    background-color: #F3976C !important ;
    font-weight: bold !important;
    border-radius: 40px !important;
}
a:hover .icon-md,
a:focus .icon-md {
    background-color: #FFDBC7 !important;
    padding: 1px !important;
    border-radius: 20px !important;
}